/.ipynb_checkpoints
/.vscode
/AUTOMATIZAR MINHA PLANILHIA.ipynb
/Calculadora de IMC.ipynb
/Como cria e modificar planilhia  excel .ipynb
/curso basico de pithon- projeto final .py
/gastos ano 2022.xlsx
/issu.py
/janeiro 2022.xlsx
/ler excel com pandas.ipynb
/Pasta1.xlsx
/planilha de compras.xlsx
/planilhia de compra v2.xlsx
/planilhia excel.ipynb
/print ('oi').py
/rela. anual 2022.xlsx
/relatoria automatizado.ipynb
/teste.xlsx
/teste11.xlsx
/teste12.xlsx
/tuplas.py
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb